.delete-post {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
  justify-content: center;
  align-items: center;
  z-index: 999
}
.delete-post .dialog {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  top: 50%;
  margin-top: -50px;
  border: 1px solid #ddd;
  border-radius: 5px;
  position: relative;
  color: #f44336
}
.delete-post .actions {
  position: absolute;
  bottom: 16px;
  right: 16px;
}
.delete-post.action {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  color: #00bcd4;
  font-size: .9em;
  text-decoration: none;
}
.action:hover {
  cursor: pointer;
}
