
.post-list .button {
  display: block;
  margin: 30px auto;
  width: 120px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #ff4081;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  border-radius: 20px
}


.post-list .card {
  position: relative;
  width: 80%;
  height: 60px;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.post-list .title {
  font-size: 1.2em;
}


.post-list .actions {
  position: absolute;
  bottom: 16px;
  right: 16px
}

.post-list .link {
  display: inline-block;
  font-size: .9em;
  color: #00bcd4;
  opacity: .8;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}
