.show-post {
   position: relative;
   width: 80%;
   min-height: 200px;
   max-width: 600px;
   margin: 30px auto;
   background-color: #fff;
   border-radius: 5px;
   padding: 16px;
   box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px
 }
.show-post .category {
   position: absolute;
   top: 0;
   right: 0;
   padding: 4px 6px;
   color: #fff;
   font-size: .8em;
   background-color: #ed5a5a
}
.show-post .title {
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center
}
.show-post .content {
  font-size: 1em;
  color: rgba(0,0,0,.8);
}
